.top{
    height: 60px;
    background: #fff;
    margin: 23px auto;
    width: 100%;
}

.sideBar-left{
    height: 500px;
    width: 240px;
    background: #fff;
    float: left;
}

.sideBar-right{
    height: 500px;
    width: 180px;
    background: #fff;
    float: right;
}

.structure-middle{
    height: 500px;
    width: 925px;
    background: whitesmoke;
    margin-left: 278px;
}

.sideBarFunctions{
    display: block;
    width: 240px;
    height: 40px;
    background-color: #e3fcfb;
    color: black;
    text-align: left;
    line-height: 40px;
    text-decoration: none;
}

header{
    font-size: larger;
    text-align: center;
    line-height: 30px;
    font-size: 234%;
    font-weight:bolder;
    color: #5cc8d6;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-color: #09503b;
    -webkit-text-stroke-width: 1px;
}

.toppy{
    list-style: none;
    margin-left: 1050px;
}

.topper{
    height: 1px;
    list-style: none;
}
.topper li{
    float:left;
}
.topper li a{
    display: block;
    height: 10px;
    text-decoration: none;
    color: #09868f;
    padding-right: 30px;
}
.topper li a:hover{
    color: #008526;
}

body{
    background-color: darkslategray;
    font-family: Courier, monospace;
}

img{
    border-radius: 150%;
    width: 65px;
    margin-left: 20px;
    float: left;
    margin-left: 20px;
}

.parallelogram{
    width: 910px;
    height: 55px;
    transform: skew(8deg);
    margin-left: 10px;
    text-align: center;
    
}

h4{
    background-color: rgba(138, 255, 218, 0.864);
    font-size: medium;
    text-decoration: none;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight:100;
    margin-top: 65px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    font-weight: 300;
}