.top{
    height: 60px;
    width: 100%;
    margin: 23px auto;
    background: #fff;
}

.sideBar-left{
    height: 500px;
    width: 240px;
    float: left;
    background: #fff;
}

.sideBar-right{
    height: 500px;
    width: 180px;
    float: right;
    background: #fff;
}

.structure-middle{
    height: 500px;
    width: 925px;
    margin-left: 278px;
    background: whitesmoke;
}

.sideBarFunctions{
    width: 240px;
    height: 40px;
    margin: 2px auto;
    text-align: left;
    line-height: 40px;
    display: block;
    background-color: #e3fcfb;
    color: black;
    text-decoration: none;
}

header{
    text-align: center;
    line-height: 20px;
    font-weight:bolder;
    font-size: larger;
    font-size: 234%;
    color: #5cc8d6;
    -webkit-text-stroke-color: #09503b;
    -webkit-text-stroke-width: 1px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.toppy{
    list-style: none;
    margin-left: 1050px;
}
.topper{
    list-style: none;
    height: 2px;
}
.topper li{
    float:left;
}
.topper li a{
    padding-right: 30px;
    height: 20px;
    text-decoration: none;
    display: block;
    color: #09868f;
}
.topper li a:hover{
    color: #008526;
}

.parallelogram{
    width: 910px;
    height: 55px;
    transform: skew(8deg);
    margin-left: 10px;
    text-align: center;
}

.comment{
    padding: 10px;
    flex-wrap: wrap;
}

body{
    background-color: darkslategray;
    font-family: Courier, monospace;
}

img{
    border-radius: 150%;
    width: 65px;
    margin-left: 20px;
    float: left;
}

h4{
    font-size: medium;
    text-decoration: none;
    background-color: rgba(138, 255, 218, 0.864);
}

h5{
    margin-top: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight:100;
}

p{
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    font-weight: 300;
}