.top{
    height: 60px;
    background: #fff;
    margin: 10px auto;
    width: 100%;
}

.structure-left{
    height: 500px;
    width: 240px;
    background: #fff;
    float: left;
}

.structure-right{
    height: 500px;
    width: 180px;
    background: #fff;
    float: right;
}

.structure-middle{
    height: 500px;
    width: 60%;
    background: whitesmoke;
    margin-left: 50px;
}


.mainStream{
    height: 500px;
    width: 1000px;
    margin: 20px auto;
}

.sideBar-left{
    height: 500px;
    width: 240px;
    background: #fff;
    float: left;
}

.sideBar-right{
    height: 500;
    width: 760px;
    background: #fff;
    float: left;
}

    body{
            background-color: darkslategray;
            font-family:Georgia, 'Times New Roman', Times, serif
    }
    header{
        text-align: center;
        font-weight: 500;
        color: darkslategrey;
        -webkit-text-stroke-color: aquamarine;
    }
    img{
        border-radius: 150%;
        width: 65px;
        float: left;
        margin-right: 15px;
    }

    .parallelogram{
        width: 1000px;
        height: 55px;
        transform: skew(7deg);
        text-align: end;
    }
    h4{
        background-color: rgba(138, 255, 218, 0.864);
    }
    h5{
        font-family: Arial, Helvetica, sans-serif;
        font-size:medium;
        font-weight:580;
        margin-top: 65px;
        color:rgb(196, 250, 222)
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size:small;
        font-weight: 300;
        color: aliceblue;
    }